In [5]:
import pystan
from pystan import StanModel

import numpy as np
import numpy.random as rd
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import animation as ani
import matplotlib.cm as cm
import seaborn as sns
sns.set(style="whitegrid", palette="muted", color_codes=True)

from sklearn import cross_validation

/home/watanabe/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [10]:
kilo10000 = pd.read_csv("../data/kilo10000_interpolate.csv")
kilo10001 = pd.read_csv("../data/kilo10001_interpolate.csv")
kilo10002 = pd.read_csv("../data/kilo10002_interpolate.csv")
kilo10003 = pd.read_csv("../data/kilo10003_interpolate.csv")
kilo10004 = pd.read_csv("../data/kilo10004_interpolate.csv")
data = pd.concat((kilo10000["高低左"],kilo10001["高低左"],kilo10002["高低左"],kilo10003["高低左"],kilo10004["高低左"]), axis=1)
data.columns = ["10000","10001","10002","10003","10004"]
data.index = pd.to_datetime(kilo10000["date"])
data.head()

            10000  10001  10002  10003  10004
date
2017-04-01  -1.16  -1.17  -1.09  -0.64  0.470
2017-04-02  -0.81  -0.83  -0.71  -0.15  1.010
2017-04-03  -0.99  -0.91  -0.67  -0.02  1.220
2017-04-04  -0.98  -0.81  -0.50   0.18  1.385
2017-04-05  -0.97  -0.71  -0.33   0.38  1.550

In [19]:
data["2017"]

               10000  10001     10002  10003  10004
date
2017-04-01 -1.160000 -1.170 -1.090000 -0.640  0.470
2017-04-02 -0.810000 -0.830 -0.710000 -0.150  1.010
2017-04-03 -0.990000 -0.910 -0.670000 -0.020  1.220
2017-04-04 -0.980000 -0.810 -0.500000  0.180  1.385
2017-04-05 -0.970000 -0.710 -0.330000  0.380  1.550
2017-04-06 -1.480000 -1.070 -0.290000  0.950  2.630
2017-04-07 -0.660000 -0.560 -0.460000 -0.100  0.820
2017-04-08 -1.290000 -0.980 -0.560000  0.150  1.300
2017-04-09 -0.980000 -0.820 -0.620000 -0.130  0.870
2017-04-10 -1.630000 -1.450 -1.060000 -0.240  1.160
2017-04-11 -1.100000 -1.110 -0.950000 -0.350  0.890
2017-04-12 -0.540000 -0.600 -0.710000 -0.490  0.460
2017-04-13 -1.310000 -1.140 -0.820000 -0.130  1.090
2017-04-14 -1.290000 -1.110 -0.820000 -0.190  1.030
2017-04-15 -1.370000 -1.235 -1.040000 -0.535  0.565
2017-04-16 -1.450000 -1.360 -1.260000 -0.880  0.100
2017-04-17 -0.940000 -1.010 -1.070000 -0.810  0.110
2017-04-18 -1.180000 -1.130 -1.000000 -0.540  0.520
2017-04-19 -1.145000 -1.045 -0.925000 -0.530  0.445
2017-04-20 -1.110000 -0.960 -0.850000 -0.520  0.370
2017-04-21 -1.180000 -1.110 -0.980000 -0.500  0.570
2017-04-22 -1.380000 -1.310 -1.140000 -0.600  0.520
2017-04-23 -1.310000 -1.170 -0.800000 -0.040  1.260
2017-04-24 -1.240000 -1.070 -0.780000 -0.160  0.990
2017-04-25 -0.760000 -0.750 -0.820000 -0.690  0.040
2017-04-26 -1.110000 -0.790 -0.320000  0.480  1.740
2017-04-27 -1.620000 -1.570 -1.320000 -0.630  0.680
2017-04-28 -1.430000 -1.450 -1.370000 -0.950  0.080
2017-04-29 -1.180000 -1.100 -0.880000 -0.280  0.890
2017-04-30 -1.340000 -1.200 -0.950000 -0.370  0.730
...              ...    ...       ...    ...    ...
2017-12-02  1.020000  2.920  4.590000  5.050  3.570
2017-12-03  1.170000  3.140  4.810000  5.260  3.760
2017-12-04  1.330000  3.320  5.090000  5.620  4.110
2017-12-05 -7.350000 -4.010 -0.120000  2.830  3.880
2017-12-06 -0.350000  1.350  3.210000  4.240  3.470
2017-12-07  1.475000  3.380  5.050000  5.560  4.145
2017-12-08  3.300000  5.410  6.890000  6.880  4.820
2017-12-09 -6.380000 -2.530  1.390000  3.920  4.290
2017-12-10 -7.370000 -3.870  0.200000  3.260  4.300
2017-12-11  2.560000  4.730  6.330000  6.430  4.470
2017-12-12  3.500000  5.740  7.230000  7.090  4.810
2017-12-13  2.050000  4.060  5.600000  5.790  4.020
2017-12-14  0.770000  2.750  4.790000  5.800  4.800
2017-12-15  0.763333  2.765  4.716667  5.550  4.350
2017-12-16  0.756667  2.780  4.643333  5.300  3.900
2017-12-17  0.750000  2.790  4.570000  5.050  3.450
2017-12-18 -7.460000 -3.920  0.210000  3.330  4.400
2017-12-19  1.490000  3.560  5.370000  5.800  4.070
2017-12-20 -5.120000 -0.970  2.570000  4.250  3.670
2017-12-21 -1.840000  1.285  4.015000  5.195  4.195
2017-12-22  1.440000  3.540  5.460000  6.140  4.720
2017-12-23  0.980000  3.000  4.860000  5.580  4.310
2017-12-24  0.170000  2.010  3.880000  4.700  3.540
2017-12-25  1.020000  3.210  5.160000  5.840  4.400
2017-12-26  2.005000  4.285  6.115000  6.480  4.655
2017-12-27  2.990000  5.360  7.070000  7.120  4.910
2017-12-28 -6.870000 -2.940  1.240000  4.070  4.640
2017-12-29  0.580000  2.570  4.370000  4.910  3.390
2017-12-30 -7.400000 -4.190 -0.130000  3.150  4.500
2017-12-31  0.750000  2.630  4.360000  4.980  3.720

[275 rows x 5 columns]

In [25]:
# 訓練データ, テストデータに分割する
#https://note.nkmk.me/python-pandas-time-series-datetimeindex/
train = data["2017/4/1":"2017/12/31"]
test = data["2018/1/1":]
print ([d.shape for d in [train, test]])

[(275, 5), (90, 5)]

In [ ]:
model = """


"""